.logo-main{
    img{
       animation: bird 5s ease infinite;
    }
    h2{
        animation: bird-head 5s ease infinite;
    }
}
@keyframes bird {
    0%{
        transform: scale(0) rotate(180deg);
        opacity: 0;
    }
    50%{
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
}
@keyframes bird-head {
    0%{
        transform: scale(1.2);
        opacity: 1;
    }
    50%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1.2);
        opacity: 1;
    }
}

.btn-group-justified{
    margin-top: 70px;
    margin-bottom: 10px;
}
.portfolio{
    padding-top: 150px;
    overflow: hidden!important;
    .port-btn{
        width: 100%;
        background: transparent;
        border: 1px solid #000;
        border-radius: 0;
    &:focus{
        outline: none!important;
    }
    }
    .is-checked{
        background: $main-black;
        color: $main-white;
    }
    .grid{
        display: flex;
        flex-wrap: wrap;
        position: static;
        .grid-item{
            padding: 10px;
            margin: 0; 
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
            }
        }
        
    }
    .bottom-line{
        width: 100%;
        height: 20px;
        background: $main-black;
    }

}
.modal-box{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(3,3,3, 0.9);
    transition: all .33s ease-out;
    z-index: 1101;
    padding: 0!important;
    overflow: hidden!important;
    .overlay{
        position:fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left:0;
        cursor: zoom-out;
        z-index: 1100;
    }
    .modal-box-image{
        background: transparent;
        position: absolute;
        width: 35%;
        height: 90vh;
        padding: 10px;
        border-radius: 5px;
        z-index:3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img{
            width:100%;
            // height: 92%;
            max-height:100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: fill;
        }
    }
    &.invisible{
        opacity: 1;
        // display: none;
        // visibility: hidden;
        transform: translateY(100%);
        // z-index: -10;
    }
}




@media only screen and (max-width:768px){
    .portfolio{
        .port-btn{
            margin-bottom: 20px;
        }
    }
    .modal-box-image{
        width: 70%!important;
    }
}

